[Unit]
Description=Unit file for docker based web-service skillbox-service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull {{ registry }}/skillbox-service
ExecStart=/usr/bin/docker run --rm -p 80:8080 --name %n {{ registry }}/skillbox-service

[Install]
WantedBy=multi-user.target